/* .title {
  font-size: 100px;
}
@media only screen and (max-width: 600px) {
.title {
  font-size: 50px;
}
}; */
@media (min-width: 768px) {
  .md\:w-full {
      width: 100%;
  }
}
body {
  background-color: #151937;
  color: #fff;
}

.text-gradient {
  background: linear-gradient(to right, #ff5ea3, #ffa7a9);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}